@charset "utf-8";

/* 共通 */
body {
  background-color: #f0f0f0;
  font-size: 14px;
}

img {
  width: 100%;
}

.l-wrapper {
  width: min(1000px, 70%);
  margin-inline: auto;
}
.l-section {
  margin-block: clamp(5rem, 4.12rem + 3.756vw, 7.5rem);
}
.l-title {
  margin-block-end: 26px;
}

.c-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}

.c-title::before {
  content: attr(data-sub);
  font-size: 36px;
  font-weight: medium;
  letter-spacing: 1rem;
}

.c-title::after {
  content: "";
  width: 40px;
  border-bottom: 1px solid #000;
  margin-block-start: clamp(1.75rem, 1.486rem + 1.127vw, 2.5rem);
}

/* ヘッダー */
.l-header {
  height: 680px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.l-header::after {
  content: "";
  background: url(../img/mainvisual\ 1.png) no-repeat top center/contain;
  height: 600px;
  width: 100%;
}
.l-header-inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.l-headerlink {
  display: flex;
  justify-content: space-between;
}
.l-nav {
  display: flex;
  gap: 35px;
  padding-inline-start: 16px;
}
.l-logo {
  width: clamp(5rem, 4.543rem + 1.951vw, 6.25rem);
  padding-inline-start: 16px;
  padding-block-start: clamp(1rem, 0.758rem + 1.033vw, 1.688rem);
}

.c-mv {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.c-contact {
  display: none;
}
/* ニュース */

/* 私たちについて */

/* 事業内容 */

/* 会社情報 */
.l-company {
  height: auto;
}

.c-company {
  background-color: #fff;
}

/* フッター */
.l-footer {
  background-color: #fff;
  padding-block-start: 48px;
}

/* レスポンシブ：ブレークポイントは900px */
@media (min-width: 900px) {
  .l-header-inner {
    flex-direction: row;
  }
  .c-contact {
    display: inline-block;
    background-color: #000;
    color: #fff;
    height: 80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .l-company {
    height: auto;
    position: relative;
  }
  .c-company {
    width: 80%;
  }

  .c-company__cnt {
    display: flex;
  }
  .c-company__img {
    position: absolute;
    height: 400px;
    width: min(50%, 547px);
    right: 0;
    object-fit: cover;
  }

  .l-footer {
    background-color: #fff;
    padding-block-start: 48px;
  }
}
